<ion-content [fullscreen]="true">
  <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <app-input
                label="Email"
                placeholder="Enter your email"
                type="text"
                [control]="email"
              >
              </app-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <app-input
                label="Password"
                placeholder="Enter your name"
                type="password"
                [control]="password"
              >
              </app-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-button
                value="Login"
                type="submit"
                [disabled]="loginForm.invalid"
              ></app-button>
            </ion-col>
            <ion-col>
              <ion-button fill="outline" 
              (click)="doLoginWithGoogle()">
                <ion-icon name="logo-google"></ion-icon
                ><ion-text>Login with Google</ion-text>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <app-button
                value="Go to register"
                type="button"
                (click)="goToRegister()"
                fill="clear"
              ></app-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
