<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
          <app-input label="Name" placeholder="Enter your name" type="text">
            
          </app-input>
          </ion-col>
        </ion-row>
            <ion-row>
          <ion-col>
          <app-input label="Last Name" placeholder="Enter your name" type="text">
            
          </app-input>
          </ion-col>
        </ion-row>
            <ion-row>
          <ion-col>
          <app-input label="Password" placeholder="Enter your name" type="text">
            
          </app-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <app-radio justify="start" languajes>
            
          </app-radio>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
