<ion-item>
  <ion-label position="stacked">{{ label | translate }}</ion-label>
  <ion-radio-group 
    [value]="value" 
    (ionChange)="onValueChange($event)"
    class="radio-group {{ getJustifyClass() }}">
    
    <ion-grid>
      <ion-row>
        @for (option of options; track option.value) {
          <ion-col size="auto">
            <ion-item lines="none">
              <ion-radio [value]="option.value">
                {{ option.label | translate }}
              </ion-radio>
            </ion-item>
          </ion-col>
        }
      </ion-row>
    </ion-grid>

  </ion-radio-group>
</ion-item>