<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button>
    <ion-icon name="chevron-up-circle"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <!-- Logout -->
    <ion-fab-button 
      *ngIf="showLogout" 
      (click)="handleLogout()"
      title="Cerrar sesión">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-fab-button>

    <!-- Agregar -->
    <ion-fab-button 
      *ngIf="showAdd" 
      (click)="handleAdd()"
      title="Agregar">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>

    <!-- Actualizar usuario -->
    <ion-fab-button 
      *ngIf="showUpdateUser" 
      (click)="handleUpdateUser()"
      title="Actualizar usuario">
      <ion-icon name="person-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>